{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<div class="container">
 <div class="row">
<div class="col-6">
<a href="{{ path('app_adresse_new') }}"> Ajouter une Adresse </a>
{{ form_start(form, {action:path('app_commande_add')}) }}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
     {{ form_widget(form)|replace({'[-br]' : '<br>'})|raw}}
      {# {{ form_row(form.adr_rue)|replace({'[-br]' : '<br>'})|raw}} #}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
    <button type="submit" class="btn btn-primary">Valider le panier </button>
{{ form_end(form) }}
</div>

<div class ="col-6">
 <section class="row">
            <div class="col-12">
                <h1>Panier </h1>             
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td>{{ element.produit.ProNom }}</td>
                                <td>{{ element.produit.ProPrix|number_format(2, '.', ',')}}€</td>
                                <td>{{ element.quantite }}</td>
                                <td>{{ element.quantite * element.produit.ProPrix}} €</td>
                                <td>
                                    {# <a href="{{ path('panier_add', {id: element.produit.id}) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('panier_remove', {id: element.produit.id}) }}" class="btn btn-warning">-</a>
                                    <a href="{{ path('panier_delete', {id: element.produit.id}) }}" class="btn btn-danger">Supprimer</a> #}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>    
                        {% endfor %}
                        </tbody> 
                        <tfoot>
                        <tr>
                            <td colspan="2">Sous-Total</td>
                            <td>{{totalQte}}</td>
                            <td>{{ total}} €</td>
                            <td>
                                <a href="{{ path('panier_empty') }}" class="btn btn-danger">Vider</a>
                            </td>
                        </tr>
                        {# <tr>
                            <td colspan="3">Frais de port</td>
                            <td>{{ fdp}} €</td>
                        </tr> #}
                         {# <tr>
                            <td colspan="3">Total</td>
                            <td>{{total}} €</td>
                        </tr> #}
                    </tfoot>
                </table>
                </div>
</div>
</div>
{% endblock %}
